<h1>Hot Weather Widget</h1>


<div class="element">
  <div class="element-left">
    <widget-places-list
      [places] = "places$ | async"
      [placeTypes] = "placeTypes$ | async"
      (onSelectPlace) = "onPlaceSelect($event)"
      (onSelectPlaceType) = "onPlaceTypeSelect($event)"
    ></widget-places-list>
  </div>
  <div class="element-right">
    <widget-temperatur
      [air-temp] = "selectedPlace?.weather?.airTemperature"
      [water-temp] = "selectedPlace?.weather?.waterTemperature"
    ></widget-temperatur>
    <widget-teddy-bear
      [followers] = "selectedPlace?.social?.followers"
      [following] = "selectedPlace?.social?.following"
    ></widget-teddy-bear>
  </div>
  <div class="clear"> </div>
</div>

<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
